h1 {


  font-family: sans-serif;
}
.Fields{
  background-color:white;
  width:1050px;
  margin:0 auto;
}
#Open{
font-size: 19px;
}

.topnav {
background-color:rgb(255,255,155);
overflow: hidden;
border:1px solid black;
width:1050px;
margin:0 auto;
transition: all 0.5s ease;

}

.topnav a {
float: left;
color:black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;

}
.topnav a:hover  {
background-color: rgb(149,200,255);
color: black;

}
.topnav a.active {
background-color:Black;
color: White;
}

body{
  background-color:rgb(149,228,255);
}
.images{
  height:200px;
  	width: 200px;
    border:3px solid black;
}
.center{
  text-align:center;
}
.Mredirect {
  background-color: Green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;

  font-size: 16px;
  width:200px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 12px;

border: 2px solid green;
}

.Mredirect:hover{
  background-color: White;
color: Green;
 border: 2px solid green;
 border-radius: 12px;

}
.Mredirect2 {
  background-color: Red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;

  font-size: 16px;
  width:300px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 12px;

border: 2px solid Red;
}

.Mredirect2:hover{
  background-color: White;
color: Red;
 border: 2px solid Red;
 border-radius: 12px;

}
.submits {
  background-color: rgb(0,201,251);
  border: none;
  color:Black;
  padding: 15px 32px;
  text-align: center;

  font-size: 16px;
  width:200px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 12px;

border: 2px solid rgb(0,201,251);
}

.submits:hover{
  background-color: White;
color: rgb(0,201,251);
 border: 2px solid rgb(0,201,251);
 border-radius: 12px;

}

.Navbar {
  background-color:rgb(255,255,155);
  border: none;
  color:Black;
  padding: 15px 32px;
  text-align: center;

  font-size: 16px;
  width:200px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: auto;


}

.Navbar:hover{
  background-color: White;
color: Red;
 border: none

}


.topnav input.active {
background-color:Black;
color: White;
border: none;
  width: auto;
padding: 15px 32px;
text-align: center;

font-size: 16px;
width:200px;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;


}


.cart {
  background-color: rgb(68,162,255);
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;

  font-size: 16px;
  width:200px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 12px;

border: 2px solid  rgb(68,162,255);
}

.cart:hover{
  background-color: White;
color: rgb(68,162,255);
 border: 2px solid  rgb(68,162,255);
 border-radius: 12px;

}
label{
  font-size: 20px;
  font-weight: bold;
}
td{
	padding-right:40px;
  padding-left: 40px;

}
table{
	text-align:center;
margin:0 auto;

}
.size{
  height: 150px;
  width:150px;

}

input[type=number], input[type=text],input[type=email],input[type=password],input[type="UserName"] {

  padding: 12px 20px;
  margin: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;



}
